################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FluentFtpTest/bin/Debug
/FluentFtpTest/obj
/.vs
